@media screen and (max-width: 767px)
{
#bloc-page
{
    width: auto;
}
#container{
    width: auto;
}

header{
    width: auto;
    flex-direction: column;
}


header img{
    
    width: 30%;
}
#filter
{
    width: auto;
    flex-direction: column;
}
#filter ul 
{
    width: auto;
    

}
