/*mise en forme de la page*/
body
{
    font-family: 'Raleway', 'sans-serif';
    margin: 0;
}

#container
{
    width: 90%;
    margin: auto;
}
/* mise en forme de l'en-tête de la page*/
header
{
    display: flex;
    justify-content: flex-start;
} 

/* mise en forme du menu navigation */
nav
{
    margin-left: auto;
}

nav ul 
{
    display: flex;
    list-style-type: none;
    font-size: 1em;    
}

nav ul li
{
    margin: 0 50px 0 0;
}

nav ul li a
{
    text-decoration: none; 
    padding-top: 10px;
}

header nav ul li a:hover
{
    border-top: 2px solid #0065fc;
    
}

.hbgt
{
    color: #0065fc;
}

.activ
{    
        color:#7b7e80;  
}

.inscription
{
    text-decoration: none;
    color: #0065fc;
    font-weight: bold;
}

#titre
{
    margin-top: -1em; 
    font-size: 0.9em;
}

/* mise en page du formulaire */

form
{
    display: flex;
    margin-top: 2em;
}
label
{
    background-color: #F2F2F2;
    padding: 15px 15px 15px;
    border-radius: 10px 0px 0 10px;
}

.local
{
    padding: 15px 15px 15px;
    width: 210px;
    color: black;
    border:1px #F2F2F2 solid;
    font-weight: bold;
    font-size: 1em;

}

.recherche
{
    padding: 15px 15px 15px;
    width: 110px;
    background-color: #0065fc;
    color: #ffff;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: none;
}

.recherches
{
    display: none;
}

/* mise en forme des filtres */
#filter
{
    font-weight: bold;
    width: 1200px;
    display: flex;
    justify-content: flex-start;
}

#filter p
{
    padding: 15px 15px 15px;
}

#filter ul
{
    display: flex;
    list-style-type: none;
 
}

#filter ul li
{
    margin-right: 40px;
    border: 2px #F2F2F2 solid;
    padding-right: 20px;
    border-radius: 30px 30px 30px 30px;
   
}

#filter ul li:hover
{
    background-color: #F2F2F2;
}

/* mise en forme des icônes */
#filter ul li i   
{
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 15px 15px 15px;
    border-radius: 70%;
    margin-right: 5px;
}

#info 
{
    display: flex;
}

#info i
{
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: #0065fc;
    font-size: 0.7em;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    padding: 7px 7px 0 7px;
}

/* espacement texte images carte*/

figcaption 
{
    padding-bottom: 5px;
}

/* mise en forme du bloc hébergements à Marseille*/

#marseille h3
{
    padding-top: 15px;
    margin-left: 30px;
}

#marseille
{
    background-color: #F2F2F2;
    width: 68%;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.logements
{
        display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: stretch;
   

}

.logements a
{
    width: 30%;
    text-decoration: none;
    margin-right: 10px;
}

/* mise en forme des cartes*/
.logements a
{ 
    background-color: white;
    box-shadow: 3px 3px 10px #dad7d7;
    border-radius: 20px 20px 20px 20px;
    margin:auto;
    margin-bottom: 15px;
}

i.fa-star
{
    color:#0065fc;
}

i.fa-inactive
{
    color: #F2F2F2;
}

.logements a figure {
    margin: 5px;
}

.logements a figure img
{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
 
.logements figure figcaption
{
    font-weight: bold; 
    color: black;
    margin-left: 15px; 
}

.logements p
{
    margin-top: 0;
    font-size: 0.8em;
    color:black;
    margin-left: 15px;
}

.logements ul
{
    display: flex;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    margin-left: 10px;   
}

.logements ul li 
{
 
    font-size: 0.8em;
    display: flex;
    margin-top: -0.5em;  
}

#marseille p a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0;
}

/* mise en forme du bloc les plus populaires*/

    /*mise en forme du titre*/
.graph
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.graph p
{
    margin-top: 20px;
}

    /*mise en forme du corps du bloc */
#plus-populaires a figure img
{
    width: 40%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

#plus-populaires a figure div figcaption
{
    font-weight: bold;
    color: black;
}

#plus-populaires a figure div p
{
    margin-top: 0;
    font-size: 0.8em;
    color: black;
}

#plus-populaires a figure div ul
{
    display: flex;
    list-style-type: none;
    margin-top: 50px;
    margin-left: -40px;
}

#plus-populaires a figure div ul li
{
    font-size: 0.8em;
    display: flex;
    margin-top: -0.5em;
    line-height: 2em;  
}

#populaire
{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

#hebergements
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

#plus-populaires a figure
{
    width: 100%;
    height: 125px;
    background-color: white;
    box-shadow: 3px 3px 10px #dad7d7;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 5px 5px;
    margin-bottom: 15px;
    display: flex

}

#plus-populaires a
{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#plus-populaires a figure div
{
    width: 140px;
    height: 130px; 
    margin-left: 10px;
}

/*mise en forme du bloc activités*/


.bloc1 img
{
    width: 100%;
    height: 450px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}    

.bloc img
{
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activites
{
    width: 100%;
    margin-top: 50px;
}

#blocs
{
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
}

#pomegues{
    height: 240px;
}

#frioul{
    height: 120px;
}

#garde{
    height: 150px;
}

#longchamp{
    height: 210px;
}

.bloc1 a figure
{
    box-shadow: 3px 3px 10px #dad7d7;
    border-radius: 20px 20px 20px 20px;
    margin-right: 0;
    padding-bottom: 20px;
}
 .bloc, .bloc1  
 {
     width: 25%;
 }
.bloc1 a
{
    text-decoration: none;
}

.bloc1 a figure figcaption
{
    font-weight: bold; 
    color: black;  
    padding-top: 1em;
    margin-left: 10px;
    
}
.bloc a figure
{
    box-shadow: 3px 3px 10px #dad7d7;
    border-radius: 20px 20px 20px 20px; 
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-right: 0;
   
}

.bloc a 
{
    text-decoration: none;
}

.bloc a figcaption
{
    font-weight: bold;
    color: black;
    padding-top: 1em;
    margin-left: 10px;
}

/*mise ne page du footer*/

footer
{
    width: 100%;
    background-color: #F2F2F2;     
}

#baspage{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#apropos ul, #noshebergements ul, #assistance ul
{
    list-style-type: none;
    padding-left: 0; 
}

#apropos ul li a, #noshebergements ul li a, #assistance ul li a
{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    line-height: 2em;
}

#apropos, #noshebergements, #assistance
{
    margin-right: 200px;
}
